* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
}

header {
  text-align: center !important;
  display: flex;
  justify-content: center;
  background-color: rgb(74, 72, 72);
  color: aliceblue;
  height: 10vh;
  width: 70vw;
  margin: auto;
}
header > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}

section {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 70vw;
  margin: auto;
  background-color: rgb(163, 245, 218);
}

#pprod {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 5px;
}
#plista {
  font-size: 1.5em;
  margin-bottom: 10px;
  padding-left: 5px;
}

#entradas {
  margin: 10px;
  flex-direction: column;
}

#entradas > p {
  font-size: 1.5em;
}
.entradasProduto {
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid rgb(74, 72, 72);
}
.botao {
  margin-top: 10px;
  margin-bottom: 5px;
  width: 8vw;
  background-color: rgb(74, 72, 72);
  border-radius: 10px;
  color: aliceblue;
  border-color: aliceblue;
  transition: all ease 0.3s;
}
.botao:hover {
  background-color: aliceblue;
  color: rgb(74, 72, 72);
  width: 9vw;
}

#saidas {
  display: flex;
  text-align: center;
  margin-top: 80px;
  justify-content: space-around;
}
table {
  border-collapse: collapse;
  width: 100vw;
  border-color: rgb(74, 72, 72);
}

th {
  background-color: rgb(74, 72, 72);
  color: aliceblue;
  width: 100vw;
}

footer {
  margin: auto;
  height: 10vh;
  width: 70vw;
  display: flex;
  text-align: center !important;
  justify-content: center;
  font-size: 1.5em;
  background-color: rgb(74, 72, 72);
  color: aliceblue;
}
