@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: rgb(73, 71, 71);
  width: 100vw;
  height: 100vh;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(106, 102, 102, 0.734);
  width: 60vw;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(106, 102, 102);
  width: 60vw;
  height: 60vh;
  margin: auto;
  flex-direction: column;
}

#entradas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vw;
  margin: auto;
}

.ano {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

#iano {
  border-radius: 5px;
  padding-left: 5px;
  width: 60px;
}

.sexo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 10px;
  width: 30vw;
}

#saidas {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 30vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(106, 102, 102, 0.734);
  width: 60vw;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
